      <!--form handaling-->
      <form action="/api/users"  id="add_user"  method="post">
        <div class="new_user>
          <div class="form-group">
        <label for="name" class="text-light">First Name</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="name" value="" placeholder="Manan">
          </div>
          <div class="form-group">
            <label for="lname" class="text-light">Last Name </label>
            <input type="hidden" name="id" value="">
            <input type="text" name="lname" value="" placeholder="kansara">
          </div>
          <div class="form-group">
            <label for="email" class="text-light">email</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="email" value="" placeholder="mkansara0903@outlook.com">
          </div>
          <div class="form-group">
            <label for="mobileNumber" class="text-light">mobile Number</label>
            <input type="hidden" name="id" value="">
            <input type="tel" name="mobileNumber" value="" placeholder="">
          </div>
          <div class="form-group">
            <label for="hobby" class="text-light">Hobby</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="hobby" value="" placeholder="cricket,basketball,etc...">
          </div>
          <div class="form-group">
            <label for="gender" class="text-light">Gender</label>
            <div class="">
              <input type="radio" name="gender" value="Male">
              <label for="gender" class="text-light" >Male</label>
            </div>
            <div class="">
              <input type="radio" name="gender" value="female">
              <label for="gender" class="text-light" >Female</label>
            </div>
          </div>
          <div class="form-group">
            <label for="name" class="text-light">Password</label>
            
            <input type="password" id="password" name="password" value="" >
          </div>
          <div class="form-group">
            <label for="name" class="text-light">Confirm Password</label>
            <input type="hidden" name="id" value="">
            <input type="password" name="confirmPassword" value="" >
          </div>
          <button type="submit">Submit</button>
      </div>

       
  
      </form>