<!--include header-->
<%-include('partials/_header')%>
<!--/include header-->
<form action="/"  method="post">
    <div class="login-form-group">
        <h1 class="heading-login">Login</h1>

        <label class="user" for="username">username:</label>
        <input type="text" class="input" name="username"><br>
        <label for="password" class="user">Password:</label>
        <input type="password" class="input"  name="password" value="" ><br>
    <button class="login-from-button" type="submit">Next</button><br>   

    </div>

</form>



</div>



<!--include footer-->
<%-include('partials/_footer')%>
<!--/include footer-->